# MongoDB
MONGODB_URI=mongodb://localhost:27017
# Hash bcrypt de la contraseña por defecto para los usuarios generados por los scripts de semillas (ej: edu12345)
SEED_PASSWORD_HASH=$2a$10$u5bCbkxGWzJlxymEoyt7BeX/TDTQON7pcQkK7.a52hJ58N/y8cmo6

# Environment
NODE_ENV=development

VITE_EXCHANGE_RATE_API_URL=https://api.exchangerate-api.com/v4/latest/USD